.notes-info {
  display: grid;
  color: grey;
  grid-template-columns: 1fr 2fr 3fr 2fr 2fr 2fr 0.5fr 0.5fr 0.5fr;
  align-items: center;
  width: 100%;
  height: fit-content;
  min-height: 5vh;
  margin-bottom: 5px;
  background-color: rgb(229, 235, 242);
}

.notes-info-hover:hover {
  cursor: pointer;
}

.note-content {
  max-width: 100%;
  overflow: hidden;
}