* {
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 80%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  right: 50%;
  gap: 10px;
  transform: translate(50%, -50%);
  border: 1px solid rgb(169, 166, 186);
  z-index: 50;
}

.notes-container,
.summary-container {
  display: flex;
  position: relative;
  flex: 1;
  flex-direction: column;
  width: 100%;
}
.notes-title {
  display: grid;
  color: white;
  grid-template-columns: 1fr 2fr 3fr 2fr 2fr 2fr 1fr 0.5fr 0.5fr;
  align-items: center;
  width: 100%;
  height: 5vh;
  background-color: grey;
  margin-bottom: 5px;
}

.notes-info {
  display: grid;
  color: grey;
  grid-template-columns: 1fr 2fr 3fr 2fr 2fr 2fr 1fr 0.5fr 0.5fr;
  align-items: center;
  width: 100%;
  height: 5vh;
  margin-bottom: 5px;
  background-color: rgb(229, 235, 242);
}

.notes-info-hover:hover {
  cursor: pointer;
}

.summary-title {
  display: grid;
  color: white;
  grid-template-columns: 1fr 3fr 2fr 3fr;
  align-items: center;
  width: 100%;
  height: 5vh;
  background-color: grey;
}
.notes-info-container,
.summary-info-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 40vh;
  overflow: auto;
  
}

.rounded-button {
  background: grey;
  width: 2vw;
  height: 4vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

}

.create-note-button-container {
  display: flex;
  justify-content: right;
}
.create-note-button {
  margin:5px;
  width: fit-content;
  justify-content: right;
}
.create-note-button:hover {
  cursor:pointer;
}

.new-note-form, .edit-note-form {
  position: absolute;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0.98;
  z-index: 100;
  background-color: white;
  display: none;
}

.form {
  display: flex;
  padding: 5%;
  flex-direction: column;
  gap: 1%;
  justify-content: space-between;
  width: 20%;
  height: 50%;
  border: 2px solid rgb(186, 192, 216);
  box-shadow: 1px 2px 1px rgb(192, 192, 209);
}

.form-label {
  color: grey;
  font-weight: 400;
}

.form-input {
  outline: none;
  border: 2px solid grey;
  border-radius: 20px;
  padding: 5px;
}
.form-textarea {
  height: 50%;
  border: 2px solid grey;
  border-radius: 10px;
  padding: 10px;
  background-color: rgb(254, 254, 254);
  margin-bottom: 5%;
}
.form-button {
  border: 2px solid grey;
  background-color: rgb(138, 138, 174);
  color: white;
  font-size: larger;
  padding: 10px;
}


